.searchBarContainer {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    /* background-color: pink; */
}

.mainContainer {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    padding: 24px;
}
.leftContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(196, 129, 62, 0.63);    
    justify-content: center;
    padding: 48px;
}

.rightContainer {
    background-color: white;
}

.topRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: orange; */
    padding: 8px;
}
.topRowLeftContainer{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.bottomRowContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(48, 166, 245); */
    padding: 8px;
}


.tablesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.singleTableContainer {
    display: flex;
    flex-direction: column;
    padding: 24px;
}
