.mainContainer{
    
}
.searchBarContainer {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    /* background-color: pink; */
}

.mainCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: '100%';
    padding: 24px;
}
.leftContainer {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding: 48px;
    /* color: white */
}

.rightContainer {
    background-color: white;
}

.topRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: orange; */
    padding: 8px;
}
.topRowLeftContainer{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.bottomRowContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(48, 166, 245); */
    padding: 8px;
}


.tablesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.singleTableContainer {
    display: flex;
    flex-direction: column;
    padding: 24px;
}
