

.shorestPathMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 32px; 
    /* background-color: lightblue; */
}

.leftSearchBarContainerSP {
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

.rightSearchBarContainerSP {
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}